/* Starting on 2nd child, each 3.*/
li:nth-child(3n+2){
    background-color: orangered;
}

/*set divs that are children of divs to inline-block*/
div div {
    width: 100px;
    height: 100px;
    background-color: #f00;
    display: inline-block;
    float: left;
    margin: 0 20px 0 10px;
}

div div:hover {
    width: 100px;
    height: 100px;
    background-color: #0f0;
    display: block;
    float: left;
    margin: 0 20px 0 10px;
}

div div:active {
    width: 100px;
    height: 100px;
    background-color: #00f;
    display: block;
    float: left;
    margin: 0 20px 0 10px;
}

#parentDiv div:nth-child(even){
    background-color: orangered;
}

/*p, div {*/
    /*color: #00f;*/
/*}*/

/*p {*/
    /*color: #0f0;*/
/*}*/